@font-face {
  font-family: 'Neue Machina';
  src: url('~@/assets/fonts/neue-machina/NeueMachina-Ultralight.otf')
    format('opentype');
  font-weight: 200;
}

@font-face {
  font-family: 'Neue Machina';
  src: url('~@/assets/fonts/neue-machina/NeueMachina-Light.otf')
    format('opentype');
  font-weight: 300;
}

@font-face {
  font-family: 'Neue Machina';
  src: url('~@/assets/fonts/neue-machina/NeueMachina-Regular.otf')
    format('opentype');
  font-weight: 500;
}

@font-face {
  font-family: 'Neue Machina';
  src: url('~@/assets/fonts/neue-machina/NeueMachina-Ultrabold.otf')
    format('opentype');
  font-weight: 700;
}

@font-face {
  font-family: 'Neue Machina';
  src: url('~@/assets/fonts/neue-machina/NeueMachina-Black.otf')
    format('opentype');
  font-weight: 800;
}

@font-face {
  font-family: 'Pilowlava';
  src: url('~@/assets/fonts/pilowlava/Pilowlava-Regular.woff2') format('woff2'),
    url('~@/assets/fonts/pilowlava/Pilowlava-Regular.woff') format('woff'),
    url('~@/assets/fonts/pilowlava/Pilowlava-Regular.otf') format('opentype'),
    url('~@/assets/fonts/pilowlava/Pilowlava-Regular.eot') format('eot');
  font-weight: normal;
}

@font-face {
  font-family: 'Voyage';
  src: url('~@/assets/fonts/voyage.woff') format('woff');
  font-weight: normal;
}

@font-face {
  font-family: 'Love';
  src: url('~@/assets/fonts/love.woff') format('woff');
  font-weight: normal;
}

@font-face {
  font-family: 'Canopee';
  src: url('~@/assets/fonts/canopee.woff') format('woff');
  font-weight: normal;
}
